.slider {
    margin: 2.5em 0;
    .title {
        text-align: center;

    }

    h3 {
        font-size: $sectionTitleSize;
        font-weight:$titleFontWeight;
    }
    h5 {
        font-size: $sectionSubTitleSize;
        font-weight: $sectionSubTitleWeight;
        margin: 1em 0;
    }

}
