.slider{
    text-align: center;
    h5{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: #0c5adb;
    }

    h3{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .mySwiper{
        margin-bottom: 2rem;
    }
}