/* $colorprincipal: black; */
footer {
    background: linear-gradient(to right, #000814,#00031C, #000835, #00031C,#000814);
    display: flex;
    flex-direction: column;
    align-items: center;

    .containerFooter{
        width: 70%;
    }
    
    .longLine {
        width: 96%;
        margin-top: 1rem;
        border-color: #8e8d8d;
        margin-left: initial;
    }

    h4{
        color: white;
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
        color: #8e8d8d;
    }
    .infoContact {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        margin-top: 1rem;

        p{
            margin-top: 0.5rem;
        }

        .findUs {
            display: flex;
            align-items: center;
            width: 40%;
        }

        .findUs span {
            margin-right: 1rem;
            font-size: 2rem;
            color: #0400ff;
        }
    }

    .infoUseful {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        margin-top: 1rem;


        .subscribe{
            width: 40%;
            .containerEmail{
                display: flex;
                align-items: center;
                margin-top: 2%;

                span{
                    color: #0400ff;
                    font-size: 2rem;
                }
            }
            
        }

        .infogeneral {
            width: 40%;
        }

        .logosRedes {
            width: 60%;
            p {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .iconRedes {
                font-size: 2rem;
                margin-top: 1rem;

                a {
                    margin-right: 1rem;
                }

                .iconFace {
                    color: #0400ff;
                }

                .iconInstagram {
                    color: rgb(228, 64, 95);
                }
            }
        }

        .shortLine {
            width: 10%;
            text-align: left;
            margin: 0;
            margin-top: 1rem;
            margin-bottom: 1rem;
           //border-color: #e44b0eed;
            border-color: #0400ff;
        }

        #email {
            background: linear-gradient(to right, #404040, #404040, #404040);
            color: white;
            padding: 0.8rem;
            border: none;
            width: 65%;
        }

        .usefulLinks{
            width: 40%;

            .linksUtil{
                text-decoration: none;
                color: white;
            }

        }
        
    }

    .infoLegal {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {
    .infoContact {
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 2em;
    }
}


@media only screen and (max-width: 768px) {
    .longLine {
        /* margin-left: auto;
        width: 10%; */
    }
}

@media only screen and (max-width: 768px) {
    .infoUseful {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media only screen and (max-width: 768px) {
    .infoLegal {
        flex-direction: column;
        text-align: center;
    }
}