$colorprincipal: black;
footer {
    background: linear-gradient(to right, black, #343434, #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h4{
        color: white; 
        font-size: 20px;
    }
    p{
        font-size: 10px;
        color: #8e8d8d;
    }

    .longLine {
        width: 65%;
        margin-top: 40px;
        border-color: #0c5adb;
    }

    .infoContact {
        display: flex;
        justify-content: space-between;
        width: 60%;
        text-align: left;
        margin-top: 20px;
        font-size: 15px;

        p{
            margin-top: 5px;
        }

        .findUs {
            display: flex;
            align-items: center;
        }

        .findUs span {
            margin-right: 10px;
            font-size: 30px;
            color: #0c5adb;
        }
    }

    .infoUseful {
        display: flex;
        justify-content: space-between;
        width: 60%;
        text-align: left;
        margin-top: 20px;


        .subscribe{
            width: 30%;
            .containerEmail{
                display: flex;
                align-items: center;
                margin-top: 10px;

                span{
                    color: #0c5adb;
                    font-size: 32px;
                }
            }
            
        }

        .infogeneral {
            width: 20%;
        }

        .logosRedes {
            width: 100%;
            p {
                margin-top: 30px;
                margin-bottom: 10px;
            }
            .iconRedes {
                font-size: 25px;
                margin-top: 20px;

                a {
                    margin-right: 10px;
                }

                .iconFace {
                    color: #0c5adb;
                }

                .iconInstagram {
                    color: rgb(228, 64, 95);
                }
            }
        }

        .shortLinea {
            width: 40%;
            text-align: left;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 25px;
           //border-color: #e44b0eed;
            border-color: #0c5adb;
        }

        #email {
            background: linear-gradient(to right, #404040, #404040, #404040);
            color: white;
            padding: 10px;
            border: none;
        }

        .usefulLinks{
            .linksUtil{
                text-decoration: none;
                color: white;
            }

        }
        
    }

    .infoLegal {
        display: flex;
        justify-content: space-between;
        width: 60%;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;
        
        .linksUtil{
            text-decoration: none;
            color: white;
        }
    }
}
