$color-primary : #0B0E3C;

.header{
    font-family: $mainFont;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;

    .logo{
        padding-left: 20px;
        margin-left: 3em;
    }

    .navBar{
        list-style: none;
        display: flex;
        font-size: 1.1em;
        align-items: center;
        li{
            padding-right: 20px;
            a{
                text-decoration: none;
            }
        }
    }

    .userOption{
        display: flex;
        padding-right: 1em;
        align-items: center;
        span{
            padding-right: 5px;
        }
        .userName{
            font-size: 0.9em;
        }
    }
}